%nav
	.wrapper
		%ul
			%li
				%a(href="#")
					%h1	86<span>/</span>60      
			%li
				%a(href="#")Leistungen
			%li
				%a(href="#")Arbeiten
			%li
				%a(href="#")Über uns
			%li
				%a(href="#")Über Sie
			%li
				%a(href="#")Kontakt